
.dropzone{
    width: 100%;
}

.dropzone--inactive {
    position: fixed;
    display: none;
    width:100%;
    height: 100%;
    top:0;
    left:0;
}

.dropzone--inactive > div {
    display: none;
}
.dropzone--active > div {
    display:flex;
    right:50%;
    color: white;
    position: absolute;
    top:50%;
    transform: translate(50%, -50%);
    z-index: 10;
    width: 98%;
    height: 98%;
    font-size: 5em;
}

.dropzone--active {
 background: #47D787;
 opacity:1;
    display: block;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 10;

}

.dropzone__categories{
    display: flex;
    width:100%;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-self: center;
}

.dropzone__category{
    padding: 1em;
}

.dropzone__category--hover{
    padding: 1em;
    background:  orange;
}