button {
  background: none;
  border: none;
}
/* Desktops and laptops ----------- */
@media only screen and (min-width : 1224px) {
  /* Styles */

  .categories__item{
    border: 2px solid orange;
    overflow: hidden;
    position: relative;
    display: flex;
    padding: 5px;
    height: 41px;
    margin-right: 5px;
    border-radius: 5px;

  }

  .fa-trash-o{
    margin-left: .5em;
    /*position: absolute;
    right: 0;
    top:50%;
    transform: translateY(-50%);*/
  }

}

/* Large screens ----------- */
@media only screen and (min-width : 1824px) {
  /* Styles */
}

/* iPhone 4 ----------- */
@media only screen and (-webkit-min-device-pixel-ratio : 1.5), only screen and (min-device-pixel-ratio : 1.5) {
  /* Styles */
}

.categories{
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.categories__item:hover{
  background: #47D787;
}

.categories__item:hover *{
  color:white!important;
}

.categories__add-button{

  color: orange;
}

.categories__button{
  background: none;
  vertical-align: middle;
  display: inline-block;
  cursor: pointer;
  width: 100%;
  white-space: nowrap;
}

.categories__icon{
  color: orange;
  background: none;
  border: none;
  vertical-align: middle;
  cursor: pointer;
}

.categories__newItem {
  background: orange;
}

.categories__input {
  background:none;
  border: 0;
  padding: 0.5em;
  height: 100%;
  font-weight: bold;
  color:white;
  width:100px;
  margin: 1px 5px;
}

.categories__input:focus:hover {
  color: #47D787!important;
}

.categories__item .categories__icons {
  margin: 5px;

    }
    .categories__item:hover .categories__icons {
        display: inline-block!important;
    }

    .categories__item--isOver{
        background: white!important;
        border: 1px solid #47D787;
    }
    .categories__item--droppable{
        background: #47D787;
        color: white;
    }

    .categories__item--isActive{
        background: #47D787;
        color: white!important;
    }
    .categories__item--isActive *{
        color: white;
    }

    .categories__newItem--hidden{
        display: none;
    }


    .categories__input:focus{
        /*border: 1px solid white;*/
        background: rgba(255,255,255,0.6);
        box-shadow: none;
        outline: none;
        color: orange;
        margin: 1px 5px;
        font-weight: bold;
    }

    .fa-check, .fa-times{
        margin-left: 0.5em;
    }
